#portal-top {
 background-color:#2d4a9a;       
}
#navwrapper,#portal-globalnav, #portal-globalnav li a {
    background-color: #1D3061;
}
#portal-globalnav {
    clear: none;
    margin: 0 0 0 0.5em;
}
#portal-globalnav li a {
    border: 0 none;
    border-radius: 1em 1em 1em 1em;
    color: #91ABF0;
    /*font-size: 14px;*/
    margin: 0.75em 0.1em;
    min-width: 0;
    padding: 0.5em 0.8em;
    text-align: center;
    text-transform: uppercase;
}
#portal-globalnav .selected a, #portal-globalnav a:hover {
    background-color: #426EEB;
    color: #FFFFFF;
}
#c-doormat {
    background-color:transparent;
    border:2px solid #0341b2;
}
#portal-footer {
    background-color:transparent;
    text-align:center;
}